In [2]:
import pandas as pd
import os

In [3]:
data_dir = './data'

In [4]:
transactions = pd.read_csv(os.path.join(data_dir, 'transactions_cleaned.csv'))

In [5]:
transactions['transaction_date'] = pd.to_datetime(transactions['transaction_date'], format='%Y%m%d')

In [6]:
sample = transactions.sample(int(5e6))

In [ ]:
res = sample.groupby(['msno',
                      pd.Grouper(key="transaction_date", freq="1M")])[
    'payment_plan_days'].agg(['mean', 'median', 'count'])

In [9]:
sample.dtypes

msno                              object
payment_method_id                  int64
payment_plan_days                  int64
plan_list_price                    int64
actual_amount_paid                 int64
is_auto_renew                      int64
transaction_date          datetime64[ns]
membership_expire_date             int64
is_cancel                          int64
dtype: object

In [11]:
from datetime import datetime

In [12]:
datetime(2017, 7, 3)

datetime.datetime(2017, 7, 3, 0, 0)

In [10]:
uid = "msno"

In [18]:
def aggregate_n_months_prior_to_date(df, agg_col, date, freq="1M",
                                     date_col="transaction_date", aggs=['mean', 'median', 'count', 'sum', 'std']):
    """Generates aggregations of agg_col per uid prior to a certain date"""
    filtered_df = df[df.transaction_date <= date]
    res = filtered_df.groupby([uid, pd.Grouper(key=date_col, freq=freq)])[agg_col].agg(aggs).reset_index()
    return res

In [19]:
temp = aggregate_n_months_prior_to_date(sample, "payment_plan_days", datetime(2016, 9, 1), freq="1M",
                                        date_col="transaction_date")

In [20]:
temp

,msno,transaction_date,mean,median,count,sum,std
0,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,2015-08-31,30.0,30.0,1,30,NaN
1,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,2015-01-31,30.0,30.0,1,30,NaN
2,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,2015-02-28,30.0,30.0,1,30,NaN
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,2015-03-31,30.0,30.0,1,30,NaN
4,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,2015-04-30,0.0,0.0,1,0,NaN
...,...,...,...,...,...,...,...
3352986,zzz9+ZF4+GMyt63oU8xfjo1EkvRqH5OINlES0RUJI6I=,2016-04-30,30.0,30.0,1,30,NaN
3352987,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,2016-03-31,30.0,30.0,1,30,NaN
3352988,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,2016-04-30,30.0,30.0,1,30,NaN
3352989,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,2016-05-31,30.0,30.0,1,30,NaN
3352990,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,2016-08-31,30.0,30.0,1,30,NaN

In [21]:
temp['transaction_date'].max()

Timestamp('2016-09-30 00:00:00')